.btn {
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	border: none;
	@include trs(0.2s);

	&:focus {
		outline: 0;
	}

	&--main {
		background-color: #0271c7;
		color: #fff;
		font-size: 13px;
		height: 26px;
		width: 80px;
		text-shadow: 0 2px 3px #555;
		box-shadow: 0 1px 3px #888;

		&:hover {
			box-shadow: 0 1px 4px #666;
			background-color: #167dce;
		}

		&:active {
			box-shadow: inset 0 1px 3px #888;
		}
	}

	&--alt {
		font-size: 11px;
		background-color: #fff;
		height: 18px;
		min-width: 18px;
		padding-left: 9px;
		padding-right: 9px;
		box-shadow: inset 0 1px 3px #888;

		&:hover {
			background-color: #f4f4f4;
		}

		&:active {
			background-color: #f4f4f4;
			box-shadow: inset 0 1px 5px #888;
			@include trs(0s);
		}
	}
}
