.wrap {
	margin: auto;
	padding-right: 20px;
	padding-left: 20px;

	max-width: 940px;
}


// Header block
//-------------

.cal-header {
	padding-top: 55px;
	padding-bottom: 15px;

	min-height: 100px;
	background-color: #f4f4f4;
	box-shadow: 0 2px 3px #ccc;

	@include clearfix;
}

.cta-button {
	margin-right: 5px;
}

.search-ico {
	display: inline-block;
	display: inline-block;

	float: right;
	margin-right: 0;
	padding: 0;
	width: 30px;
	height: 26px;
	border: none;
	background-color: transparent;
	color: #b5b5b5;
	vertical-align: middle;
	vertical-align: middle;
	font-size: 13px;

	@include trs(0.2s);

	&:hover {
		color: #777;
		text-shadow: 0 1px 2px #ccc;
	}

	&:active {
		color: #0271c7;
		text-shadow: 0 0 0;

		@include trs(0s);
	}

	&:focus {
		outline: 0;
	}
}

.search-field{
	float: right;
	padding-right: 7px;
	padding-left: 7px;
	width: 185px;
	height: 26px;
	border: none;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: inset 0 1px 3px #888;
	font-size: 12px;

	&:focus {
		outline: 0;

		&::placeholder {
			opacity: 0;

			@include trs(0.2s);
		}
	}
}


// Navigation
//-----------

.cal-nav {
	margin-top: 16px;

	&__month-year {
		display: inline-block;
		vertical-align: middle;
		cursor: default;
	}

	&__prew,
	&__next {
		position: relative;

		width: 18px;

		&:before {
			border-top: 3px solid transparent;
			border-bottom: 3px solid transparent;

			content: '';

			@extend %cam;
		}
	}

	&__prew:before {
		border-right: 6px solid #666;
	}

	&__next:before {
		border-left: 6px solid #666;
	}

	&__today {
		margin-left: 5px;
	}
}


// Calendar's frame
//-----------------

.cal-frame {
	position: relative;
	overflow: hidden;

	padding-top: 14px;

	table {
		margin-bottom: 60px;
		width: 100%;
		border-collapse: collapse;
		background-color: #fff;
	}

	td {
		overflow: hidden;
		padding: 7px;
		max-width: 0px;
		height: 118px;
		border:1px solid #e6e6e6;
		color: #999;
		vertical-align: top;
		text-align: left;
		font-size: 11px;
		cursor:default;

		@include trs(0.15s);
	}

	&__temp {
		position:absolute;
	}
}

td:not(.nil):not(.today):not(.cal-event):hover {
	background-color: #eaf7f5;
}

.cal-frame td span {
	display: block;

	color: #2b2b2b;
}

	// Today
.today {
	background-color: #f4f4f4;
	box-shadow: inset 0 0 8px #ddd;
	color: #8c8c8c;

	&:hover {
		background-color: #deefed;
	}
}

	// Overdays
.double-date-next.double-date-next,
.double-date-curr.double-date-curr {
	color: #999;
}

	// Calendar's event
.cal-event {
	background-color: #c2e4fe;

	&:hover {
		background-color: #add3f0;
	}

	&__headline {
		padding-top: 0.4em;
		font-weight: 600;
		line-height: 1.5em;
	}

	&__members {
		line-height: 1.5em;
	}
}

.today.cal-event {
	background-color: #c2e4fe;
	box-shadow: inset 0 0 8px #aaa;
	&:hover {
		background-color: #9ec3de;
	}
}

// Form for adding new event
//--------------------------

.event-form-block {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;

	display: none;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translate(-50%,-50%);

	@include trs(1s);

	&:after {
		position: absolute;
		top: 0;
		z-index: -1;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(141, 141, 141, 0.39);

		content: '';
	}

	&.is-active {
		display: block;
		opacity: 1;
	}
}

.event-form {
	display: block;
	width: 200px;
	height: 300px;
	text-align: center;

	@extend %cam;

	input[type="date"],
	input[type="text"],
	textarea,
	&__buttons {
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}

	textarea {
		resize: none;
	}

	&__buttons {
		padding: 10px;
		button:last-child {
			margin-left: 10px;
		}
	}
}








