@mixin trs($time) {
	transition: all $time ease-in-out;
}


@mixin clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
//-----------gradient---------------
@mixin background-gradient($start-color, $end-color, $orientation) {
	background: $start-color;

	@if $orientation == 'vertical' {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	} @else if $orientation == 'horizontal' {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	} @else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}

//-------------font face--------------------
@mixin font-face($font-name, $file-name, $font-weight: normal, $font-style: normal) {
	@font-face {
		font-family: quote($font-name);
		src: url('../fonts/'+ $file-name + '.eot');
		src: url('../fonts/'+ $file-name + '.eot?#iefix')  format('embedded-opentype'),
			url('../fonts/'+ $file-name + '.woff') format('woff'),
			url('../fonts/'+ $file-name + '.ttf')  format('truetype'),
			url('../fonts/'+ $file-name + '.svg##{$font-name}')  format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}
}

//-------------input placeholder---------------------
@mixin placeholder($color, $font){
	&::-webkit-input-placeholder { color:$color; font-family:$font;}
	&::-moz-placeholder { color:$color; font-family:$font;}
	&:-ms-input-placeholder { color:$color; font-family:$font;}
	&:-moz-placeholder { color:$color; font-family:$font;}
}

@mixin columns($count, $gap){
	-webkit-column-count: $count;
	-moz-column-count:    $count;
	column-count:         $count;

	-webkit-column-gap:   $gap;
	-moz-column-gap:      $gap;
	column-gap:           $gap;
}
