//	Variables

// 1. Colors
// ---------

$white: #fff;
$xlight-gray: #f4f4f4;
$light-gray: #dfdfe2;
$medium-gray: #cacaca;
$xdark-gray: #3f4147;
//$black: #101010;

$body-background-color: $white;
$body-font-color: $xdark-gray;

$theme-color: #d3065d; //NOTE a70c5d 810a47 940b52
$theme-color-alt: #5373bc;

// 2. Base Typography
// ---------

			//Fonts
$font-norm: "GothamPro";
$font-ita: "GothamPro-Italic";
$font-lig: "GothamPro-Light";
$font-lig-ita: "GothamPro-LightItalic";
$font-med: "GothamPro-Medium";
$font-med-ita: "GothamPro-MediumItalic";
$font-bol: "GothamPro-Bold";
$font-bol-ita: "GothamPro-BoldItalic";
$font-bla: "GothamPro-Black";
$font-bla-ita: "GothamPro-BlackItalic";

$body-font-family: $font-norm, Arial, "Helvetica Neue", Helvetica, sans-serif;

			//Sizes for tablet version
$tablet-font-size-xxbig: 30px;
$tablet-font-size-xbig: 28px;
$tablet-font-size-big: 18px;
$tablet-font-size-medium: 15px;
$tablet-font-size-small: 13px;
$tablet-font-size-xsmall: 12px;
$tablet-font-size-xxsmall: 11px;
$tablet-font-size-xxxsmall: 10px;
			// Sizes for mobile version
$mobile-font-coefficient: 1.2;
$mobile-font-size-xxbig: $tablet-font-size-xxbig / $mobile-font-coefficient;
$mobile-font-size-xbig: $tablet-font-size-xbig / $mobile-font-coefficient;
$mobile-font-size-big: $tablet-font-size-big / $mobile-font-coefficient;
$mobile-font-size-medium: $tablet-font-size-medium / $mobile-font-coefficient;
$mobile-font-size-small: $tablet-font-size-small / $mobile-font-coefficient;
$mobile-font-size-xsmall: $tablet-font-size-xsmall / $mobile-font-coefficient;
$mobile-font-size-xxsmall: $tablet-font-size-xxsmall / $mobile-font-coefficient;
$mobile-font-size-xxxsmall: $tablet-font-size-xxxsmall / $mobile-font-coefficient;

			// Font colors
$xlight: #fff;
$dark: #3f4147;

// 3. Animation
// ------------

$transition-time: 0.2s;
$transition-easing: ease-in-out;

// 4. Buttons
// ----------

$button-padding-tablet: 0px 12px;
$button-padding-mobile: 0px 10px;
$button-fill: solid;
$button-background: $theme-color;
$button-color: $theme-color;
$button-color-alt: $white;
$button-height-tablet: 50px;
$button-height-mobile: 40px;
$button-min-width-tablet: 180px;
$button-min-width-mobile: 150px;
$button-transition-time: 0.15s;
$button-transition-easing: ease-in-out;
$button-border-width: 2px;
$button-border-width-mobile: 1px;

$ico-diameter: 40px;
$ico-diameter-mobile: 30px;

