<header class="cal-header">
	<div class="wrap">
		<button class="btn btn--main cta-button" id="js-add"> Добавить </button>
		<button class="btn btn--main cta-button" id="js-refresh"> Обновить </button>
		<input type="search" name="search" id="js-search" class="search-field" placeholder="Событие, дата или участник">
		<button class="search-ico fa fa-search" id="js-search-ico"></button>
	</div>
</header>

<div class="wrap">
	<nav class="cal-nav">
		<button class="btn btn--alt cal-nav__prew" id="js-prew"></button>
		<span class="cal-nav__month-year" id="js-label"> Март 2013 </span>
		<button class="btn btn--alt cal-nav__next" id="js-next"></button>
		<button class="btn btn--alt cal-nav__today" id="js-to-today"> Сегодня </button>
	</nav>

	<div class="cal-frame" id="js-cal-frame">
		<table class="cal-frame__curr" id="js-cal-frame__curr">
<!--
			<tbody>
				<tr><td>Понедельник, 30</td><td>Вторник, 31</td><td>Среда, 1</td><td>Четверг, 2</td><td>Пятница, 3</td><td>Суббота, 4</td><td>Воскресенье, 5</td></tr>

				<tr><td>6</td><td>7</td><td>8</td><td class="cal-event">9<span class="cal-event__headline">Напиться!</span><span class="cal-event__members">Витя Костин, Петр Михайлов</span></td><td>10</td><td class="today">11</td><td>12</td></tr>

				<tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr>

				<tr><td>20</td><td>21</td><td>22<span class="cal-event__headline">ДР!</span><span class="cal-event__members">Дима Молодцов</span></td><td>23</td><td>24</td><td>25</td><td>26</td></tr>

				<tr><td>27</td><td>28</td><td>29</td><td>30</td><td>1</td><td>2</td><td>3</td></tr>
			</tbody>
-->
		</table>
	</div>
</div>


<!--Event form-->

<div class="event-form-block">
	<form action="" id="js-event-form" class="event-form">
		<input type="date" name="eventDate" id="js-eventDate" min="2000-01-01" max="2099-12-12" placeholder="гггг-мм-дд">
		<input type="text" name="eventHeadline" id="js-eventHeadline" placeholder="Событие">
		<textarea name="eventMembers" id="js-eventMembers" cols="30" rows="10" placeholder="Участники"></textarea>
		<div class="event-form__buttons">
			<button class="btn btn--main" id="js-eventAdd">Добавить</button>
			<button class="btn btn--main" id="js-eventCancel">Отмена</button>
		</div>
	</form>
</div>
